 .his-content h4{
  border-bottom: 1px dashed #aaa;
  padding-bottom: 10px;
  font-size: 14px;
  color: #333;
}
 .his-content {
  padding: 0px 30px;
}

 .his-content ul {
  list-style: none;
  margin-bottom: 30px;
}

 .his-content li {
  margin: 10px 0;
}

 .his-content li .text {
  padding: 2px 2px;
  border: none;
  font-size: 16px;
  margin-left: 10px;
  width: 180px;
  color:#666;
  line-height: 22px;
  outline-color:#55a8c3;
}

 .his-content img {
  width: 16px;
  vertical-align: middle;

}

 .his-content .uncheck .text {
  color: #aaa;
}