
 .content {
  padding-left: 40px;
}

 .content ul {
  list-style: none;
}

 .content li {
  margin:0 0 30px;
}

 .content li .text {
  padding: 2px 2px;
  border: none;
  border-bottom: 1px dashed #aaa;
  font-size: 18px;
  margin-left: 10px;
  width: 220px;
  text-overflow: ellipsis;
  overflow: hidden;
  color:#666;
  outline-color:#55a8c3;
}

 .content img {
  width: 30px;
  vertical-align: middle;

}

 .content .checked .text {
  color: #aaa;
  text-decoration: line-through;

}