.m-ctr {
  margin-top: 70px;
  background: white;
}

.m-ctr h3 {
  padding:0 0 20px; 
  font-size: 18px;
  line-height: 30px;
  color:#253b6a;
  text-align: center;
}

.m-ctr .content {
  padding: 0px 30px;
}