.m-ctr {
  margin-top: 70px;
  background: white;
}

.m-ctr h3 {
  padding:0 0 20px; 
  font-size: 18px;
  line-height: 30px;
  color:#253b6a;
  text-align: center;
}

.m-ctr .content {
  padding: 0px 30px;
}

.m-ctr .content ul {
  list-style: none;
}

.m-ctr .content li {
  margin: 20px 0;
}

.m-ctr .content li .text {
  padding: 2px 2px;
  border: none;
  border-bottom: 1px dashed #aaa;
  font-size: 16px;
  margin-left: 10px;
  width: 180px;
  color:#666;
  outline-color:#55a8c3;
}

.m-ctr .content img {
  width: 20px;
  vertical-align: middle;

}

.m-ctr .content .checked .text {
  color: #aaa;
  text-decoration: line-through;

}